.neighborhoodContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 125px var(--padding-5) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-18);
  color: var(--Main-Secondary);
  font-family: var(--font-expo-arabic);
}
.frameParent {
  width: var(--width-104);
  height: var(--height-69_7);
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}
.frameChild {
  position: absolute;
  top: 47.7px;
  left: calc(50% + 11px);
  width: var(--width-22);
  height: var(--height-22);
}
.unionIcon,
.unionParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.unionParent {
  height: var(--height-56);
}
.unionIcon {
  top: 0;
  height: 100%;
  z-index: 1;
}
.unionChild {
  position: absolute;
  top: 36px;
  left: 64px;
  width: var(--width-20);
  height: var(--height-20);
  object-fit: contain;
  display: none;
}
.unionItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12);
  background-color: var(--color-firebrick);
  width: var(--width-104);
  height: var(--height-44);
  z-index: 1;
  display: none;
}
.nahdaContent {
  position: absolute;
  top: 6px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3);
  z-index: 2;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div {
  position: relative;
  line-height: var(--lh-28);
}
.fluentlocation28FilledIcon {
  width: var(--width-32);
  position: relative;
  max-height: 100%;
}
